$light-blue: #C0ECFF;
$dark-blue: #9adffc;
$light-pink: #FFDDE9;
$dark-pink: #FFBAD3;
$brown: #936766;
$white: #FFFFFF;

$shadow-small: 2px 4px 4px 0px rgba(0, 0, 0, .25);
$shadow-medium: 4px 6px 6px 0px rgba(0, 0, 0, .25);
$shadow-large: 6px 8px 8px 0px rgba(0, 0, 0, .25);

$text-shadow-small: 0px 4px 4px rgba(0, 0, 0, .25);

