@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Hachi+Maru+Pop&family=Hi+Melody&display=swap');

html {
  box-sizing: border-box;
  font-size: 90%;
  background: $white;
  @media (min-width: 481px) {
    font-size: 105%
  }
  @media (min-width: 769px) {
    font-size: 130%
  }
  @media (min-width: 1200px) {
    font-size: 140%;
  }
  @media (min-width: 1600px) {
    font-size: 150%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #C0ECFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #FFFFFF;
  border-radius: 2rem;
  border: 10px solid $white;
  background: $light-blue;
  background-image: url('../assets/img/right-paws-small.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 90%;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  justify-content: space-between;

  @media (min-width: 768px) {
    border: 20px solid $white;
  }
  @media (min-width: 900px) {
    background-image: url('../assets/img/right-paws-large.svg');
    background-size: contain;
  }
  @media (min-width: 1200px) {
    background-position: 95% top;
    border: 20px solid $white;
	}
  &::before {
    content: "";
    background-image: url('../assets/img/left-paws-small.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 95%;
    height: 95vh;
    width: 100%;
    position: absolute;
    top: 1rem;
    left: .5rem;
    @media (min-width: 900px) {
      background-image: url('../assets/img/left-paws-large.svg');
    }
    @media (min-width: 1200px) {
      background-position: 5% top;
    }
  }
}

.application {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex:1;
  font-family: 'Gochi Hand', cursive;
  color: $white;
  z-index: 0;
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 600px);
    margin: 2rem 0 1rem 0;;
  }
  &__body {
  }
}

.application-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  &__logo {
    width: 75%;
  }
  &__subtitle {
    margin-bottom: 1rem;
    width: 90%;
  }
}

.settings {
  width: clamp(200px, 60%, 1000px);
  background: #FFDDE9;
  border-radius: 1rem;
  border: 6px solid #FFFFFF;
  padding: 3rem 1.5rem;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex:1;
  margin-bottom: 3.5rem;

  @media (min-width: 481px) {
    margin-bottom: 4rem;
  }
    @media (min-width: 768px) {
  border: 10px solid $white;
  }
  @media (min-width: 1200px) {
    padding: 2rem;
  }
  &__header {
    top: -2rem;
    right: max(-12%, -50px);
    position: absolute;
    width: clamp(190px, 90%, 340px);
    pointer-events: none;
    line-height: 1.5;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 0.7rem;
    position: absolute;
    text-align: center;
    top: 0;
    left: 6%;
    width: 56%;
    height: 18%;
    margin: 8% 0;
  }
  &__bananya {
    width: 100%;
  }
  &__body {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: clamp(156px, 80%, 500px);
  }
  &__button {
    color: $brown;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 1.2rem;
    background: $white;
    border: none;
    border-radius: 10px;
    padding: .8rem 1rem;
    margin-bottom: 1.5rem;
    box-shadow: $shadow-small;
    text-shadow: $text-shadow-small;
    flex-grow: 0.2;
    &--last {
      margin-bottom: 0
    }
  }
  &__button-back {
    position: absolute;
    bottom: .8rem;
    right: .8rem;
  }
}

.settings-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  color: $brown;
  flex: 1;
  &__field {
    display: flex;
    margin-bottom: 1rem;
    text-align: center;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    flex-grow: .2;
    font-size: 1.2rem;
    text-shadow: $text-shadow-small;
    font-size: 1rem;
    font-family: "Hachi Maru Pop", cursive;
  }
  &__input {
    width: 100%;
    border: none;
    min-height: 30px;
    border-bottom: 1px solid $brown;
    background: none;
    text-align: center;
    color: inherit;
    font-size: 1rem;
    margin-top: .5rem;
  }
}

.footer {
  background: $white;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 1rem .5rem 1rem;
  position: relative;
  width: max-content;
  display: flex;
  justify-content: center;
  &__images {
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    pointer-events: none;
    display: flex;
    align-items: baseline;
    justify-content: start;
  }
  &__bananya {
    width: clamp(100px, 50%, 150px);
  }
  &__mouse {
    width: 40%;
  }
  &__author-container {
    color: $brown;
    font-size: 1.2rem;
    font-family: 'Hi Melody', cursive;
  }
  &__author-link {
    color: $brown;
    text-decoration: none;
    position: relative;
    background: url('../assets/img/heart.svg');
    padding: .5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn-go {
  background: none;
  border: none;
  background: url('../assets/img/btn-go.svg');
  color: $brown;
  padding: 1rem 2rem 2rem 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: -2rem;
}

.btn-back, .btn-refresh {
  background: none;
  border: none;
  width: clamp(40px, 10%, 60px);
  display: flex;
}

.full-size {
  width: 100%;
}

.remove {
  display: none;
}

.is-flipped {
  transform: rotateY( 180deg );
}

.board {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  padding: 1rem 0;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  flex: 1;
  width: clamp(200px, 90%, 900px);
  grid-auto-rows: minmax(40px, auto);
  min-height: 200px;
  height: 60vh;
  @media (min-width: 481px) {
    grid-auto-rows: minmax(70px, 1fr);
  }
  &__tile-container {
    width: 100%;
    align-self: center;
    height: 100%;
    max-height: 100px;
    max-width: 140px;
    justify-self: center;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    @media (min-width: 481px) {
      max-height: 120px;;
    }
  }
  &__tile {
    background: $light-pink;
    border: 3px solid white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    &--front {
      transform: rotateY( 180deg );
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
      top:0;
      left:0;
    }
    &--back {
      background-image: url('../assets/img/paw.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top:0;
      left:0;
    }
  }
}

.player-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  &__stats-wrapper {
    background: $white;
    border-radius: 10px;
    box-shadow: $shadow-small;
    color: $brown;
    margin: 0 .5rem;
    padding: 1rem;
    text-align: center;
    text-shadow: $text-shadow-small;
  }
  &__active-player {
    line-height: .8;
    margin-bottom: .5rem;
  }
  &__stats {
  }
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  &__congrats {
    margin: 3rem 0 2rem 0;
    width: clamp(200px, 80%, 800px);
  }
  & img {
    width: 100%;
  }
  &__poster {
    background: url('../assets/img/winner.png');
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: min(80%, 600px);
    flex: 1;
    min-height: 250px
  }
}

