@import "~normalize.css";
@import "_variables";
@import "_mixins";
@import "_auxiliaries";
@import "_keyframes";
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Hachi+Maru+Pop&family=Hi+Melody&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
  background: $white;
  @media (min-width: 481px) {
    font-size: 110%;
  }
  @media (min-width: 600px) {
    font-size: 120%;
  }
  @media (min-width: 769px) {
    font-size: 140%;
  }
  @media (min-width: 1000px) {
    font-size: 145%;
  }
  @media (min-width: 1400px) {
    font-size: 150%;
  }
  @media (min-width: 1800px) {
    font-size: 155%;
  }
  @media (min-width: 2200px) {
    font-size: 160%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  border-radius: 2rem;
  border: $border-medium;
  background: $light-blue url("../assets/img/right-paws-small.svg") no-repeat
    right;
  background-size: auto 90%;
  @media (min-width: 768px) {
    border: $border-large;
  }
  @media (min-width: 900px) {
    background-image: url("../assets/img/right-paws-large.svg");
    background-size: contain;
  }
  @media (min-width: 1200px) {
    background-position: 95% top;
  }
  &::before {
    content: "";
    background: url("../assets/img/left-paws-small.svg") no-repeat left top;
    background-size: auto 95%;
    height: 95%;
    width: 95%;
    position: absolute;
    @media (min-width: 900px) {
      background-image: url("../assets/img/left-paws-large.svg");
    }
    @media (min-width: 1200px) {
      background-position: 5% top;
    }
  }
}

.application {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  z-index: 0;
  font-family: "Gochi Hand", cursive;
  color: $white;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 700px);
    margin: 2rem 0 1.5rem 0;
  }
  &__body {
    width: clamp(200px, 60%, 950px);
    flex: 1;
  }
}

.application-heading {
  @include flex-centered;
  flex-direction: column;
  width: 90%;
  margin: 0;
  &__logo {
    width: 75%;
  }
  &__subtitle {
    width: 90%;
  }
}

.settings {
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 420px;
  background: $light-pink;
  border: $border-small;
  border-radius: 1rem;
  box-shadow: $shadow-medium;
  margin-bottom: 2rem;
  padding: 3rem 1.5rem 3.2rem;
  @media (min-width: 650px) {
    margin-bottom: 3.5rem;
  }
  @media (min-width: 768px) {
    border: $border-medium;
    max-height: 700px;
  }
  @media (min-width: 1200px) {
    padding: 1.6rem 1.6rem 2.5rem;
  }
  &__header {
    position: absolute;
    width: clamp(180px, 70%, 340px);
    top: -1.6rem;
    right: max(-12%, -50px);

    line-height: 1.5;
    z-index: 1;
    pointer-events: none;
  }
  &__title {
    @include flex-centered;
    position: absolute;
    width: 50%;
    top: 0;
    left: 8%;
    margin: 8% 0;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 0.6rem;
    text-align: center;
  }
  &__bananya {
    position: absolute;
    width: clamp(60px, 32%, 200px);
    right: 0;
    top: 3rem;
    bottom: 0;
  }
  &__speech-bubble {
    position: absolute;
    width: 68%;
  }
  &__body {
    @include flex-column-even;
    width: clamp(156px, 80%, 500px);
  }
  &__button {
    flex-grow: 0.2;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1rem;
    background: $white;
    border: none;
    border-radius: 10px;
    color: $brown;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 1.2rem;
    box-shadow: $shadow-small;
    text-shadow: $text-shadow-small;
    cursor: pointer;
    &:focus {
      @include outline-pink-thick;
    }
    &--last-without-margin {
      margin-bottom: 0;
    }
    &--last-with-margin {
      margin-bottom: 3rem;
    }
  }
  &__button-back {
    position: absolute;
    margin-bottom: 1.2rem;
    bottom: 0;
    right: 4%;
    &:focus {
      @include outline-pink-thick;
    }
  }
}

.settings-form {
  @include flex-column-even;
  align-items: center;
  flex: 1;
  color: $brown;
  &__field {
    @include flex-centered;
    flex: 0.5;
    margin-bottom: 1rem;
    padding: 0.8rem;
    background: $white;
    border-radius: 10px;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 1rem;
    text-align: center;
    text-shadow: $text-shadow-small;
    &--last-with-margin {
      margin-bottom: 3rem;
    }
  }
  &__input {
    width: 100%;
    min-height: 25px;
    border: none;
    border-bottom: 1px solid $brown;
    background: none;
    margin-top: 0.2rem;
    color: inherit;
    font-size: 1rem;
    text-align: center;
    &:focus {
      @include outline-pink-thin;
    }
  }
  &__button {
    position: absolute;
    bottom: 3.2rem;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: -2.4rem;
    border: none;
    background: url("../assets/img/btn-submit.svg") no-repeat center;
    background-size: contain;
    font-size: 1.2rem;
    color: $brown;
    letter-spacing: 1px;
    cursor: pointer;
    &:focus {
      @include outline-pink-thick;
    }
  }
}

.footer {
  @include flex-centered;
  position: relative;
  width: max-content;
  padding: 0.8rem 1rem 0 1rem;
  background: $white;
  border-radius: 1rem 1rem 0 0;
  &__images {
    position: absolute;
    width: clamp(180px, 35vw, 340px);
    bottom: 1.5rem;
    left: 0rem;
    pointer-events: none;
  }
  &__bananya {
    width: clamp(90px, 50%, 160px);
  }
  &__mouse {
    width: 40%;
  }
  &__author-container {
    font-family: "Hi Melody", cursive;
    color: $brown;
    font-size: 1.2rem;
  }
  &__author-link {
    position: relative;
    padding: 0.5rem;
    background: url("../assets/img/heart.svg") no-repeat center;
    background-size: contain;
    color: $brown;
    text-decoration: none;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  grid-auto-rows: minmax(40px, auto);
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  flex: 1;
  width: clamp(200px, 90%, 900px);
  height: 60vh;
  min-height: 200px;
  padding: 1rem 0;
  @media (min-width: 481px) {
    grid-auto-rows: minmax(70px, 1fr);
  }
  @media (min-width: 768px) {
    &[data-board="medium"] {
      grid-template-columns: repeat(6, minmax(30px, 1fr));
    }
    &[data-board="hard"] {
      grid-template-columns: repeat(8, minmax(30px, 1fr));
    }
  }
  &__tile-container {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 140px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    &:focus {
      @include outline-blue;
    }
    @media (min-width: 481px) {
      max-height: 120px;
    }
  }
  &__tile {
    @include flex-centered;
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 6px;
    backface-visibility: hidden;
    &--front {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      background: $light-pink no-repeat center;
      background-size: auto 100%;
    }
    &--back {
      position: absolute;
      top: 0;
      left: 0;
      background: $light-pink url("../assets/img/paw.svg") no-repeat center;
      background-size: contain;
    }
  }
}

.player-panel {
  @include flex-centered;
  width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  &__stats-wrapper {
    flex: 1;
    max-width: 400px;
    margin: 0 0.5rem;
    padding: 1rem;
    background: $white;
    border-radius: 10px;
    box-shadow: $shadow-small;
    color: $brown;
    text-align: center;
    text-shadow: $text-shadow-small;
  }
  &__active-player {
    line-height: 0.8;
    margin-bottom: 0.5rem;
  }
  &__stats {
  }
  &__btn {
    &:focus {
      @include outline-blue;
    }
  }
}

.game-over {
  @include flex-centered;
  flex-direction: column;
  flex: 1;
  &__congrats {
    width: clamp(200px, 80%, 800px);
    margin: 3rem 0 1rem 0;
  }
  &__poster {
    flex: 1;
    width: min(80%, 600px);
    min-height: 250px;
    margin-bottom: 1rem;
    background: url("../assets/img/winner.png") no-repeat center;
    background-size: contain;
  }
}
